{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="row row-cards">
    <div class="col-md-6">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_row(form.name) }}<br/>
                        {% if form.location is defined %}
                            {{ form_row(form.location) }}
                        {% endif %}
                    </div>
                    <div class="card-footer text-end">
                        <div class="d-flex">
                            <a href="{{ path('dashboard') }}" class="btn btn-link">Abbrechen</a>
                            <button type="submit" data-check-form="game" class="btn btn-primary ms-auto">Speichern</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_row(form.timeFrame.eventStartsAt) }}<br/>
                        {{ form_row(form.timeFrame.optSpectatorEntry) }}<br/>
                        {{ form_row(form.timeFrame.optEventActBegin) }}<br/>
                        {{ form_row(form.timeFrame.optEventActEnd) }}<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
