{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
<div class="row row-cards">
    <div class="col-md-6">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_row(form.email, {'attr': {'autocomplete': 'off'}}) }}
                        {{ form_row(form.password.first, {'attr': {'autocomplete': 'new-password'}}) }}
                        {{ form_row(form.password.second, {'attr': {'autocomplete': 'new-password'}}) }}
                    </div>
                    <div class="card-footer text-end">
                        <div class="d-flex">
                            <a href="{{ path('dashboard') }}" class="btn btn-link">Abbrechen</a>
                            <button type="submit" data-check-form="game" class="btn btn-primary ms-auto">Speichern</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_row(form.displayName) }}<br />
                        {{ form_row(form.isAdmin) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
